.profilePage {
	position: relative;
	display: flex;
	flex-grow: 1;
	justify-content: center;
}

.cardUserTitle {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 10px;

	> img {
		border-radius: 50%;
		width: 120px;
		height: 120px;
	}
}

.name {
	font-weight: 500;
	font-size: 28px;
}

.profileInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cardUser {
}

.lookingForAJobWrap {
	display: flex;
	align-items: center;
	flex-direction: column;

	& span {
		margin-right: 5px;
		font-weight: 500;
		color: #58595b;
	}

	& img {
		width: 30px;
		height: 30px;
	}
}

.lookingForAJob {
	display: flex;
	align-items: center;

	& span {
		color: black;
	}
}

.contacts {
	padding: 10px;
	display: flex;
	column-gap: 10px;
}

.status {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}

.statusTitle {
	font-size: 20px;
}

.notFound {
	font-size: 24px;
}

.statusMain {
	color: #58595b;
	margin-top: 3px;
	cursor: pointer;
}

.statusInput {
	margin-top: 3px;
	border: 1px #58595b solid;
	padding: 2px;
}

.buttonStatus {
	background-color: #58595b;
	color: white;
	font-weight: 600;
	padding: 3px;
	margin-left: 5px;

	transition: 0.1s ease-out;

	&:hover {
		background-color: rgba(88, 89, 91, 0.82);
	}
}

.profileSettings {
	background-color: #58595b;
	color: white !important;
	font-weight: 600;
	padding: 5px;
	border-radius: 3px;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 14px;
	transition: 0.1s ease-out;
	@media (max-width: 650px) {
		top: 400px;
		right: 15px;
	}

	&:hover {
		background-color: transparent;
		color: #58595b !important;
	}
}
