.error {
	background-color: rgba(248, 92, 80, 0.06);
}

.rememberMeWrap {
	display: flex;
	align-items: center;
	column-gap: 5px;
	margin-bottom: 10px;
}

.rememberMe {
	width: 15px !important;
	height: 15px !important;
}
