@import '../../utils/variables';

.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 70px;

	margin-bottom: 10px;
}

.titleWrap {
	display: flex;
	align-items: center;
	column-gap: 10px;
	//justify-content: space-between;
	width: 202px;
	@media (max-width: 950px) {
		width: 190px;
	}
	@media (max-width: 435px) {
		display: none;
	}
}

@keyframes reactIconAnimation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.reactIcon {
	animation: reactIconAnimation 15s ease infinite;
	width: 50px;
	height: 50px;
}

.title {
	font-weight: 500;
	font-size: 30px;
}

.userWrap {
	display: flex;
	align-items: center;
	column-gap: 10px;
	cursor: pointer;
	padding: 5px 10px;

	& span {
		font-weight: 500;
	}

	& img {
		width: 35px;
		height: 35px;
	}
}

.signInBtn {
	border-radius: 3px;
	padding: 5px 10px;
	color: $white;
	background-color: $primary;
	font-weight: 700;
	transition: 0.1s ease-out;

	&:hover {
		background-color: $primaryWithOpacity92;
	}

	& {
		@media (max-width: 300px) {
			font-size: 14px;
			padding: 5px;
		}
	}
}

.titleWrapWrap {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.bar {
	cursor: pointer;
	@media (min-width: 950px) {
		display: none;
	}
	width: 40px;
	height: 40px;
}

.barWrap {
	position: relative;
}

.barWrapWrap {
	cursor: pointer;
}

.nav {
	position: absolute;
	top: 40px;
	@media (min-width: 950px) {
		display: none;
	}
	z-index: 99;
	right: -33px;
	@media (max-width: 435px) {
		right: -63px;
	}
}

.list {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.item {
	background-color: #58595b;
	color: white;
	display: flex;
	justify-content: center;

	& a {
		text-align: center;
		padding: 2px 30px;
	}

	font-weight: 600;
}

.signOut {
	cursor: pointer;
	text-align: center;
	font-weight: 600;
}
