$white: #fff;
$black: #000;
$primary: #58595b;
$secondary: #f1f2f2;
$secondaryDark: #eaeaea;
$primaryWithOpacity92: rgba(88, 89, 91, 0.95);
$dark700: #414042;
$dark700WithOpacity92: rgba(65, 64, 66, 0.95);
